*{
  margin: 0;
  padding: 0;
}

/* contenitore generale  */
.contenitore{
  width: 33%;
  height: 450px;
  position: relative;
  background-size: auto;
  display: inline-block;
  margin-top: 20px;
}

/* l'immagine deve rimanere nel contenitore */
img{
  width: 100%;
  height:100%
}

/* prezzo in alto a destra */
.price{
  position: absolute;
  right: 0;
  top: 0;
}

/* contenuto e colore verde di sfondo */
.green::after{
  background-color: green;
  content: "-30%";
}

/* contenuto e colore rosso di sfondo */
.red::after{
  background-color: red;
  content: "-5%";
}

/* cuore centrato e invisibile */
.cuore{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: none;
}

/* comparsa cuore */
.contenitore:hover .cuore{
  display: block;
  color: red;
}
